@import 'tailwindcss';

@theme {
    --color-primary-50: #fff0f3;
    --color-primary-100: #ffe1e7;
    --color-primary-200: #ffc8d5;
    --color-primary-300: #ff9bb3;
    --color-primary-400: #ff648c;
    --color-primary-500: #ff2d69;
    --color-primary-600: #f62268;
    --color-primary-700: #cf014a;
    --color-primary-800: #ad0446;
    --color-primary-900: #930842;
    --color-primary-950: #53001f;

    --color-secondary-50: #f2f0ff;
    --color-secondary-100: #e8e4ff;
    --color-secondary-200: #d4cdff;
    --color-secondary-300: #b6a5ff;
    --color-secondary-400: #9372ff;
    --color-secondary-500: #733aff;
    --color-secondary-600: #6412ff;
    --color-secondary-700: #5501ff;
    --color-secondary-800: #4d00e8;
    --color-secondary-900: #3c02b0;
    --color-secondary-950: #210078;

    --font-ubuntu: "Ubuntu", sans-serif;
    --font-orbitron: "Orbitron", sans-serif;
    --font-jura: "Jura";
}

@layer utilities {
    .bg-pattern-stars {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23e7e1f1' fill-opacity='0.13'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    }
}

html {
    @apply bg-slate-100 font-ubuntu;
}
