@import 'tailwindcss';

@theme {
    --color-primary-50: #fff0f3;
    --color-primary-100: #ffe1e7;
    --color-primary-200: #ffc8d5;
    --color-primary-300: #ff9bb3;
    --color-primary-400: #ff648c;
    --color-primary-500: #ff2d69;
    --color-primary-600: #f62268;
    --color-primary-700: #cf014a;
    --color-primary-800: #ad0446;
    --color-primary-900: #930842;
    --color-primary-950: #53001f;

    --color-secondary-50: #f2f0ff;
    --color-secondary-100: #e8e4ff;
    --color-secondary-200: #d4cdff;
    --color-secondary-300: #b6a5ff;
    --color-secondary-400: #9372ff;
    --color-secondary-500: #733aff;
    --color-secondary-600: #6412ff;
    --color-secondary-700: #5501ff;
    --color-secondary-800: #4d00e8;
    --color-secondary-900: #3c02b0;
    --color-secondary-950: #210078;

    --font-ubuntu: "Ubuntu", sans-serif;
    --font-orbitron: "Orbitron", sans-serif;
    --font-jura: "Jura";



    --animate-slide-in-blurred-right: slide-in-blurred-right .6s cubic-bezier(.23,1.000,.32,1.000) both;

    --animate-slide-in-blurred-left:slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}


@layer utilities {
    .bg-pattern-stars {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23e7e1f1' fill-opacity='0.13'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    }
}


html {
    @apply bg-slate-100 font-ubuntu;
}

@keyframes show-scale {
    0% {
        transform: scale(0.5);
        opacity:0.4;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/*slide-in-blurred-right*/
@-webkit-keyframes slide-in-blurred-right{0%{-webkit-transform:translateX(1000px) scaleX(2.5) scaleY(.2);transform:translateX(1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}

@keyframes slide-in-blurred-right{0%{-webkit-transform:translateX(1000px) scaleX(2.5) scaleY(.2);transform:translateX(1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}


/*slide-in-blurred-left*/
@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}