@import 'tailwindcss';

@theme {
    --color-primary-50: #fff0f3;
    --color-primary-100: #ffe1e7;
    --color-primary-200: #ffc8d5;
    --color-primary-300: #ff9bb3;
    --color-primary-400: #ff648c;
    --color-primary-500: #ff2d69;
    --color-primary-600: #f62268;
    --color-primary-700: #cf014a;
    --color-primary-800: #ad0446;
    --color-primary-900: #930842;
    --color-primary-950: #53001f;

    --color-secondary-50: #f2f0ff;
    --color-secondary-100: #e8e4ff;
    --color-secondary-200: #d4cdff;
    --color-secondary-300: #b6a5ff;
    --color-secondary-400: #9372ff;
    --color-secondary-500: #733aff;
    --color-secondary-600: #6412ff;
    --color-secondary-700: #5501ff;
    --color-secondary-800: #4d00e8;
    --color-secondary-900: #3c02b0;
    --color-secondary-950: #210078;

    --font-ubuntu: "Ubuntu", sans-serif;
    --font-orbitron: "Orbitron", sans-serif;
    --font-jura: "Jura";



    --animate-slide-in-blurred-right: slide-in-blurred-right 0.6s cubic-bezier(.23,1.000,.32,1.000) both;
    --animate-slide-in-blurred-left:slide-in-blurred-left 0.6s 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    --animate-show-with-opacity: show-with-opacity 0.4s ease;
    --animate-entering: animate-entering 0.8s both ease
}


@layer utilities {
    .bg-pattern-stars {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23e7e1f1' fill-opacity='0.13'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    }
}


html {
    @apply bg-slate-100 font-ubuntu;
}


/* styles.css o global.css */
.markdown-text {
  @apply text-gray-800; /* Color base */
}

/* Encabezados */
.markdown-text h1 { @apply text-3xl font-semibold my-4 py-2; }
.markdown-text h2 { @apply text-2xl font-semibold my-3 py-1.5; }
.markdown-text h3 { @apply text-xl font-semibold my-2 py-1; }
.markdown-text h4 { @apply text-lg font-semibold my-2; }
.markdown-text h5 { @apply text-base font-semibold my-1; }
.markdown-text h6 { @apply text-sm font-semibold my-1; }

/* Párrafos y texto */
.markdown-text p { @apply my-3 leading-relaxed; }
.markdown-text strong { @apply font-bold; }
.markdown-text em { @apply italic; }

/* Listas */
.markdown-text ul { @apply list-disc pl-6 my-2; }
.markdown-text ol { @apply list-decimal pl-6 my-2; }
.markdown-text li { @apply my-1; }

/* Enlaces */
.markdown-text a {
  @apply text-blue-600 hover:underline;
}

/* Código */
.markdown-text code {
  @apply  px-1 bg-gray-400/20 py-0.5 rounded text-sm font-mono;
}

/* Bloques de código (si usas react-syntax-highlighter) */
.markdown-text pre {
  @apply text-white border my-3 p-0 overflow-auto whitespace-normal rounded-2xl;
}

.markdown-text pre code {
    @apply bg-transparent overflow-auto text-sm 
}

.markdown-text *:first-child {
  @apply mt-0
}

@keyframes show-scale {
    0% {
        transform: scale(0.5);
        opacity:0.4;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes animate-entering {
  0%{
    opacity: 0;
    transform: translateY(3rem);
  }
  100%{
    transform: translateY(0rem);
    opacity: 1;
  }
}

/*slide-in-blurred-right*/
@-webkit-keyframes slide-in-blurred-right{0%{-webkit-transform:translateX(1000px) scaleX(2.5) scaleY(.2);transform:translateX(1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}

@keyframes slide-in-blurred-right{0%{-webkit-transform:translateX(1000px) scaleX(2.5) scaleY(.2);transform:translateX(1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}


/*slide-in-blurred-left*/
@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes show-with-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show-with-scale {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}